<a href="https://colab.research.google.com/github/Evgga/Python_/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%B0%2044.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 44. В ячейке ниже представлени код генерирующий DataFrame, который состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

import random 

lst = ['robot']*10

lst += ['human']*10

random.shuffle(lst)

data = pd.DataFrame({'whoAmI'lst})

data.head()

In [2]:
import pandas as pd

In [12]:
import random
lst = ['robot']*10
lst += ['human']*10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  robot
3  human
4  robot

In [13]:
data

   whoAmI
0   robot
1   robot
2   robot
3   human
4   robot
5   human
6   human
7   robot
8   human
9   robot
10  robot
11  human
12  robot
13  human
14  human
15  robot
16  human
17  human
18  human
19  robot

In [14]:
data.loc[data['whoAmI'] == 'human','human'] = '1'

In [15]:
data.loc[data['whoAmI'] != 'human','human'] = '0'

In [16]:
data.drop(columns = 'whoAmI')

   human
0      0
1      0
2      0
3      1
4      0
5      1
6      1
7      0
8      1
9      0
10     0
11     1
12     0
13     1
14     1
15     0
16     1
17     1
18     1
19     0